body {
    font-family: "Lucida Grande", Verdana, sans-serif;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 10px;
}

.image {
    margin-bottom: 20px;
}

.image img {
    width: 100%;
    height: auto;
    min-height: 215px;
}

footer {
    margin-top: 30px;
}

@media (min-width: 800px) {

    .gallery-container {
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .gallery-container > .image {
        -webkit-flex: 1 0 48%;
        -ms-flex: 1 0 48%;
        flex: 1 0 48%;
        padding-right: 2%;
    }
}